@page
@model WebApplicationTest1.Pages.DiLoad.IndexModel
@{
    ViewData["Title"] = "String from DI.";
}

<div class="text-center">
    <h1 class="display-4">DI</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>Connection String</div>
<div>@Html.DisplayFor(model => model.ConnectionString)</div>